<div id="footer-wrapper">
  <footer>
    <ul id="sitemap">
      <li><a href="#">home</a></li>
      <li><a href="#">blog</a></li>
      <li><a href="#">projects</a></li>
      <li><a href="#">about</a></li>
    </ul>
    <p>&copy; 2022 Boyad Hollingshead</p>
  </footer>
</div>
