<div class="hero hero-about">
  <h1>who am i<a class="dotdotdot" href="https://www.youtube.com/watch?v=VyOVA_W4og4"
    style="text-decoration: none; color: inherit;" target="_blank"><b>?</b></a></h1>
</div>
<div class="about">
  <img src="/img/about-headshot.jpg"></img>
  <div>
    <p>My name is Boyad and I'm a computer programmer. I specialize in web development
    but I often dabble in game development along with general coding projects.</p>

    <p>I was born in Las Vegas before moving to Missouri, Kansas, and then to Utah
    where I live now. I enjoy mountain biking, hiking, and trail running as well
    off-roading. I enjoy taking trips to southern Utah where I find myself getting
    lost in the slot-canyons and high-desert forests.</p>

    <p>I took up programming when I was 11 and haven't been able to quit
    since (think addiction rather than hobby). Along the way I've learned many
    languages and technologies including, but not limited to, Java, Javascript,
    Angular, Meteor, Express, and C++ (work in progress).</p>

    <p>I'm currently in school at Ogden&mdash;Weber Technical College where,
    after a year, I'm wrapping up the first of two courses in their Software
    Development pathway.</p>
  </div>
</div>
{{> footer}}
