<div class="hero hero-blog">
  <h1>what i'm up to<span class="dotdotdot">&hellip;</span></h1>
</div>

<div class="blog-wrapper">
  <div class="post" id="my-capstone-project-asozi8">
    <span class="blog-date">February 7<sup>th</sup>, 2022:</span>
    <h2>My Capstone Project: ASOZI8</h2>
    <p>The second to last class for my certificate at OTech requires us to create a
    capstone project to go in our portfolio. I ended up biting off a bit more than I
    could chew at the time, given the 60 hour time restraint, but I'm still
    proud of everything I got done.</p>
    <p>For my capstone I created <a href="http://asozi8.com">ASOZI8</a> (read associate). A social media platform
    based around groups and centered on privacy. Everything you post is exclusively
    shown to the people and groups you choose.
    </p>
    <p>For the frontend I used Angular and some miscellanious packages. I'd done
    that before. Where I really began learning was the server side of things. This
    was not only the first full-stack project I've undertaken, it's also the first
    project that I put onto a remote server for the whole world to see.
    </p>
    <p>On the backend I used the rest of the MEAN stack. MongoDB, Express, and Node.
    I learned a lot while developing the API and routing of the web app. Doing demos
    or reading documentation teaches you some theoretical knowledge about a given
    technology, but actually putting it into a project teaches you so much practical
    information.
    </p>
    <p>There's plenty of work still to be done for the project, but that can be done
    once I have more time, maybe once I'm out of school.
    </p>
  </div>


</div>

{{> footer}}
