<div id="index-wrapper">
  <div class="hero hero-index">
    <h1>welcome<span class="dotdotdot">&hellip;</span></h1>
    <aside class="intro">
      <h2>my name is boyad</h2>
      <p>i develop websites, games, and standalone apps.</p>
    </aside>
  </div>

  <div id="blog-preview">
    <aside>
      <p>read about what i'm up to</p>
    </aside>

    <div class="post box">
      <span class="blog-date">February 7<sup>th</sup>, 2022:</span>
      <h2>My Capstone Project: ASOZI8</h2>
      <p>The second to last class for my certificate at OTech requires us to create a
      capstone project to go in our portfolio. I ended up biting off a bit more than I
      could chew at the time, given the 60 hour time restraint, but I'm still
      proud of everything I got done &mdash; <a href="/blog#my-capstone-project-asozi8">continue reading...</a></p>
    </div>

  </div>

  <div id="projects-preview">
    <span>recent projects</span>

    <div class="project-grid">
      <div class="project-badge project-1">
        <span class="project-title">Project 1</span>
      </div>
    </div>

  </div>

  {{> footer}}
</div>
