<div id="index-wrapper">
  <div class="hero hero-index">
    <h1>welcome<span class="dotdotdot">&hellip;</span></h1>
  </div>

  <div id="blog-preview">
    <aside>
      <p>read about what i'm up to</p>
    </aside>

    <div class="box">
      <p class="blog-post"><span class="blog-date">February 2<sup>nd</sup>, 2021:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Illum laudantium odit, eligendi architecto eveniet labore error minus,
      temporibus doloremque, amet itaque. Voluptatum rerum dolorem nesciunt totam.
      Saepe reprehenderit dignissimos error &rarr; <a href="#">continue reading...</a></p>
      <div class="box-inner">

      </div>
    </div>

  </div>

  <div id="projects-preview">
    <span>recent projects</span>

    <div class="project-grid">
      <div class="project-badge project-1">
        <span class="project-title">Project 1</span>
      </div>
      <div class="project-badge project-2">
        <span class="project-title">Project 2</span>
      </div>
      <div class="project-badge project-3">
        <span class="project-title">Project 3</span>
      </div>
      <div class="project-badge project-4">
        <span class="project-title">Project 4</span>
      </div>
    </div>

  </div>

  {{> footer}}
</div>
