@import 'theme.css';

@import 'styles/fancybox.css';

@import 'styles/nav.css';
@import 'styles/index.css';
@import 'styles/footer.css';

@import 'styles/blog.css';
@import 'styles/projects.css';
@import 'styles/about.css';

html, body {
  background-color: #aaa;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: white;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

.img {
  z-index: 999;
}

.hero {
  width: 100%;
  height: 50vh;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.dotdotdot {
  font-size: .8em;
  font-weight: normal;
}

.hero h1 {
  font-variant:small-caps;
  position: absolute;
  right: 50%;
  top: 250px;
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
}

@keyframes "blink" {
  from, to {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}

.hero h1::after {
  content: '|';
  position: absolute;
  right: -20px;
  font-weight: normal;
  font-size: .9em;
  opacity: 0%;
  animation: 1s blink step-end infinite;
}



.blog-post {
  font-size: 14px;
  z-index: 1;
}

.project-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-badge {
  width: 25%;
  height: 50vw;
  transition: filter .2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(40%);
}

.project-badge:not(:last-child) {
  border-right: 2px solid black;
}

.project-1:hover {
  filter: brightness(60%);
}

.project-1 {
  background-image: url('img/project-asozi8.png');
  background-position: center;
  background-size: auto 100%;
}

.project-title {
  display: none;
}
