.box {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  margin: 5px;
  border: 2px solid var(--box-color);
  z-index: 1;
}

.box::after {
  content: ' ';
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  border: 2px solid var(--box-color);
  z-index: -1;
}
