nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  display: inline;
  margin: 0 20px;
  font-variant: small-caps;
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

nav a:hover::after {
  content: ' ';
  position: absolute;
  height: 2px;
  left: 5px;
  right: 5px;
  bottom: 0px;
  background-color: white;
}
