:root {
  --projects-hero: url('../img/projects-hero.jpg');
}

.hero-projects {
  background-image: var(--projects-hero);
}

.page-content {
  margin-top: 50px;
}

.project-1 {
  background-image: url('img/project-banners/asozi8.jpg');
  background-position: top;
  background-size: cover;
}

.project-badge > a {
  display: block;
  width: 100%;
  height: 100%;
}
